<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>coffee.io | Owner Profile</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="container">
            <div id="branding">
                <a href="/index"><img src="img/mug.png" title="Home" alt="mug clicked takes you to home page"></a>

            </div>
            <nav>
                <u1>
                    <li><a href="/editmenu">Make Menu</a></li>
                </u1>
            </nav>
        </div>
    </header>

    <div class="form-user">
        <form>
            <h1>Owner Profile</h1>
            <img src="./img/profile.png"><br> 
            <label>First name:</label>&nbsp;<input type="text" placeholder="David"><br> 
            <label>Last name:</label>&nbsp;<input type="text" placeholder="Yoon"><br> 
            <label>Username:</label>&nbsp;<input type="text" placeholder="davio606"><br> 
            <label>Email:</label>&nbsp;<input type="email" placeholder="davidyoon@virginia.edu"><br> 
            <label>Password:</label>&nbsp;<input type="password" placeholder="groot1234"><br> 
            <label>Phone Number:</label>&nbsp;<input type="phone" placeholder="703-455-4555"><br>            
            <label> Shop Street:</label>&nbsp;<input type="text" placeholder="Coffee Shop Address Street"><br> 
            <label> Shop Zip Code:</label>&nbsp; <input type="text" placeholder="Coffee Shop Address Zip code"><br>
            <input type="button" value="Save Changes!">
        </form>
    </div>
</body>

</html>