<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>coffee.io | Owner Profile</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="container">
            <div id="branding">
                <a href="/index"><img src="img/mug.png" title="Home" alt="mug clicked takes you to home page"></a>

            </div>
        </div>
    </header>
    <section id="boxes">
        <div class="container">
            <div class="box">
                <a href="/loginowner"><img src="img/store.png" title="Locating a Coffee Shop" alt="coffee shop clicked takes you to locating page"></a>
                <h3>Create a Coffee Shop</h3>
            </div> 
            <div class="box">
                <a href="/login"><img src="img/cafe.png" title="Order" alt="menu clicked takes you to order page"></a>
                <h3>Login</h3>
            </div>
    </section>
</body>

</html>

<!-- EXPOSE THE SIGN UP AND LOGIN PAGES-->